.container {
    background-color: rgb(2, 11, 21);
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    border-radius: 50px;
    padding: 25px;
    position: relative;

    .dataDetailContainer {
        margin-top: 30px;
        line-height: 12px;
        letter-spacing: 2px;

        .countryName {
            font-size: 45px;
            position: absolute;
            top: -15px;
            left: 40px;
        }

        .dayName {
            font-size: 30px;
        }

        .monthName {
            font-size: 35px;
        }
    }

    .weatherDetailContainer {
        font-size: 18px;
        line-height: 15px;
        margin-top: 20px;

        .weatherDetail {
            display: flex;
            justify-content: space-between;
        }
    }
    
    .weatherIconContainer {
        width: 150px;
        height: 150px;
        margin-top: 70px;
        left: 220px;
        position: absolute;

        img {
            width: 100%;
            height: 100%;
        }
    }
}